body {
   
    font-family: 'Roboto', sans-serif;
     margin: 0%;
   

}
h1{
    font-size: 55px;
    font-family: 'Fruktur', cursive;
}
h2{
    font-size: 40px;
}
section{
 padding-bottom: 70px;
}

.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
    
}
.half-width img{
    width: 100%;
   
}
#peter-parker{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;

    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,#FF7556);
   padding: 10px 30px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
}

p{
    color: dimgrey;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 450px;
    
    
}
.center{
    text-align: center;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
    height: 400px;
}
.single-expo-area{
    height: 250px;
    box-shadow: 10px 10px 60px dimgray;
    border-radius: 6px;
}
#full-stack{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;

}
#baby-web{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,royalblue,cyan);
    border-image-slice: 1;
    
}
footer p{

    text-align: center;
}


